.banner {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  min-height: 290px;
  border-radius: 5px;
  margin-bottom: 34px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 20px;

  @media screen and (max-width: 767px) {
    min-height: 150px;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(203, 118, 50, 0.5)
  }

  &__inner {
    z-index: 2;
    font-weight: 700;
  }

  &__title {
    font-size: 36px;

    @media screen and (max-width: 767px) {
      font-size: 25px;
    }
  }

  &__subtitle {
    font-size: 24px;

    @media screen and (max-width: 767px) {
      font-size: 18px;
    }
  }
}