.blockquote {
  margin-bottom: 20px;

  &__inner {
    background: #faf6f3;
    color: #000;
    font-size: 18px;
    line-height: 20px;
    padding: 20px 30px 20px 20px;
    border-radius: 5px;
    font-style: italic;
  }

  &__author {
    color: #333333;
    font-size: 14px;
    margin-top: 8px;
    padding-left: 20px;
  }
}