.footer {
  font-size: 14px;
  line-height: 16px;
  color: #333333;
  padding: 18px 0;

  &__inner {
    //display: flex;
    //flex-wrap: wrap;
    //align-items: flex-start;
    //margin: 0 -24px;
  }

  &__item {
    padding-bottom: 24px;

    a {
      display: inline-block;
      border-bottom: 1px solid $link-color;
      color: $link-color;
      transition: .3s;

      &:hover {
        color: #713d13;
        border-color: #713d13;
        text-decoration: none;
      }
    }

    @media screen and (max-width: 767px) {
      padding-bottom: 15px;
    }

    &--questions {
      text-align: right;

      @media screen and (max-width: 767px) {
        text-align: left;
      }
    }
  }
}