.header {

  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 0 20px 0;

    @media screen and (max-width: 767px) {
      display: block;
      padding-bottom: 25px;
      position: relative;
    }
  }

  &__title {
    padding-right: 15px;

    @media screen and (max-width: 767px) {
      padding-right: 35px;
      padding-bottom: 15px;
    }
  }

  &__data {
    margin-left: auto;
  }
}


.header-data {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  transform: translateY(2px);

  &__item {
    padding-right: 20px;

    @media screen and (max-width: 767px) {
      padding-right: 0;
      width: 100%;
      padding-bottom: 20px;
    }

    &:last-child {
      padding-right: 0;

      @media screen and (max-width: 767px) {
        padding-bottom: 0;
      }
    }
  }
}