.nav {
  margin-bottom: 40px;

  @media screen and (max-width: 767px) {
    position: fixed;
    width: 260px;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    height: 100%;
    overflow-y: auto;
    transition: .3s;
    transform: translateX(300px);
    background-color: #cb7632;

    &--open {
      transform: translateX(0);
    }
  }

  &__list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    background: $color;
    overflow: hidden;
    width: 100%;
    border-radius: 5px;
    overflow-x: auto;

    @media screen and (max-width: 767px) {
      display: block;
      background: transparent;
      border-radius: 0;
      margin: 20px 0;

    }

    // for WP

    li {

      &.current-menu-item {

        a {
          pointer-events: none;
          background: $bg-nav-active;

          &:before {
            width: 0;
          }
        }
      }

      &:first-child {

        a {
          margin-left: 9px;

          @media screen and (max-width: 767px) {
            margin-left: 0;
          }
        }

      }

      a {
        font-size: 15px;
        line-height: 16px;
        color: #fff;
        transition: .3s;
        text-decoration: none;
        padding: 12px 14px;
        background: $color;
        position: relative;
        white-space: nowrap;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;

        @media screen and (max-width: 767px) {
          margin: 0;
          display: block;
          width: 100%;
          max-width: 100%;

          &:hover {
            background: $bg-nav-active;
          }
        }

        &:before {
          content: '';
          position: absolute;
          display: block;
          width: calc(100% - 28px);
          right: 14px;
          top: 28px;
          height: 1px;
          background: #fff;
          transition: .3s;

          @media screen and (max-width: 767px) {
            content: none;
          }
        }

        &:hover {
          color: #fff;
          text-decoration: none;

          &:before {
            width: 0;
          }
        }
      }
    }
  }

  &__item {

    &:first-child {

      .nav__link {
        margin-left: 9px;

        @media screen and (max-width: 767px) {

          margin-left: 0;
        }
      }

    }

    &--active {

      .nav__link {
        pointer-events: none;
        background: $bg-nav-active;

        &:before {
          width: 0;
        }
      }
    }
  }

  &__link {
    font-size: 15px;
    line-height: 16px;
    color: #fff;
    transition: .3s;
    text-decoration: none;
    padding: 12px 14px;
    background: $color;
    position: relative;
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;

    @media screen and (max-width: 767px) {
      margin: 0;
      display: block;
      width: 100%;
      max-width: 100%;

      &:hover {
        background: $bg-nav-active;
      }
    }

    &:before {
      content: '';
      position: absolute;
      display: block;
      width: calc(100% - 28px);
      right: 14px;
      top: 28px;
      height: 1px;
      background: #fff;
      transition: .3s;

      @media screen and (max-width: 767px) {
        content: none;
      }
    }

    &:hover {
      color: #fff;
      text-decoration: none;

      &:before {
        width: 0;
      }
    }
  }
}