.news-item {
  padding-bottom: 12px;

  &__name {
    font-size: 22px;
    line-height: 1;
    font-weight: 700;
    margin: 0;
    padding-bottom: 18px;
    color: #000;

    &--link {
      padding-bottom: 7px;

    }
  }

  &__subtitle {
    color: $link-color;
    border-bottom: 1px solid $link-color;
    transition: .3s;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 7px;

    &:hover {
      text-decoration: none;
      color: #713d13;
      border-color: #713d13;
    }
  }

  &__content {
    font-size: 13px;
    line-height: 17px;
    color: #444444;
    padding-bottom: 12px;
  }

  &__data {
    padding-bottom: 7px;
  }

  &__link {
    color: $link-color;
    border-bottom: 2px solid $link-color;
    transition: .3s;
    text-decoration: none;
    display: inline-block;

    &:hover {
      text-decoration: none;

      &:hover {
        color: #713d13;
        border-color: #713d13;
      }
    }
  }
}