body {
  font-family: $f-main;
  color: #000;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  line-height: 1.2;

  &.hidden {

    @media screen and (max-width: 767px) {
      overflow: hidden;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 5;
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  -webkit-user-drag: none;
}

::selection {
  color: #fff;
  background: $color;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  padding-top: 33px;
}

.main {
  flex: 1;
  display: block;
}

.title {
  font-size: 30px;
  line-height: 1;
  color: $color;
  margin: 0;
  font-weight: 700;
}

.btn-menu {
  display: none;
  padding: 5px;
  position: absolute;
  cursor: pointer;
  right: -5px;
  top: 0;
  transition: .3s;

  @media screen and (max-width: 767px) {
    display: block;
  }

  &__inner {
    width: 20px;
  }

  &__item {
    width: 100%;
    height: 2px;
    margin: 4px 0;
    background: #000;
    transition: .4s;
    transition-delay: .3s;
  }

  &--active {
    right: 0;
    z-index: 10;
    transform: translateX(-270px);
    position: fixed;

    .btn-menu {
      width: 30px;
    }

    .btn-menu__item {
      background: #fff;
      height: 3px;

      &:first-child {
        transform: rotate(45deg);
        transform-origin: 0 50%;
      }

      &:nth-child(2n) {
        width: 0;
      }

      &:last-child {
        transform: rotate(-45deg);
        transform-origin: 0 50%;
      }
    }
  }
}

.btn {
  font-size: 15px;
  line-height: 16px;
  border: 2px solid $color;
  color: $link-color;
  padding: 7px 17px;
  display: inline-block;
  border-radius: 17px;
  transition: .3s;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  background: transparent;

  &:hover {
    color: #fff;
    background: $color;
    text-decoration: none;
  }
}

.phone {
  color: #000;
  text-decoration: none;
  transition: .3s;
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  display: inline-block;

  &:hover {
    text-decoration: none;
    //opacity: 0.8;
  }

  &--ico {
    padding-left: 24px;
    position: relative;

    &:before {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
      left: 2px;
      top: 1px;
      background: url("../images/ico-phone.png");
    }
  }
}

.h2-title {
  margin: 0;
  padding-bottom: 10px;
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
  color: #000;
}

.news-data {
  padding-bottom: 10px;
}

.modal {
  background: rgba(255, 255, 255, 0.9);
}

.modal-dialog {
  max-width: 460px !important;
}

.modal-content {
  border: none;
}

.modal-body {
  padding-top: 40px;
  padding-bottom: 50px;
  border-radius: 5px;
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
  border: none;

  &__title {
    text-align: center;
    font-size: 24px;
    line-height: 1;
    padding-bottom: 15px;
    color: #000;
    font-weight: 700;
  }
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: .3s;
  outline: none;
  margin: 0;
  padding: 0 10px;
  line-height: 1;
  height: auto;
  font-size: 40px;
  color: #6d6d6d;
  z-index: 10;
  display: block;

  &:hover {
    color: $color;
  }
}

.help-block {
  opacity: 0;
  z-index: -1;
  position: absolute;
  left: 100%;
  top: 1px;
  transform: translateX(15px);
  transition: .3s;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  background: $color;
  padding: 0 4px;
  white-space: nowrap;
  margin-left: 20px;
  display: block !important;

  @media screen and (max-width: 600px) {
    right: 0;
    top: 0;
    left: auto;
    transform: translateX(0) !important;
    border-radius: 0 4px 0 0;

  }

  &:before {
    content: '';
    position: absolute;
    left: -18px;
    width: 18px;
    height: 18px;
    background: linear-gradient(45deg, #fff 0%, #fff 45%, $color 45%, $color 100%);
  }

}

.form {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;

  &__item {
    padding-bottom: 10px;
    margin: 0;
    position: relative;

    &.has-error {

      .form__input {

      }

      .help-block {
        opacity: 1;
        z-index: 5;
        transform: translateX(5px);
      }
    }
  }

  &__btn {
    border-radius: 4px;
    background: $color;
    border-color: $color;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;

    &:hover {
      background: transparent;
      color: $color;
    }

    &:disabled {
      opacity: 0.7;
      pointer-events: none;
    }
  }

  &__input {
    height: 40px;
    width: 100%;
    max-width: 100%;
    border: 1px solid #c1c1c1;
    padding: 0 15px;
    font-size: 16px;
    display: block;
    outline: none;
    box-shadow: none;

    &:focus {
      box-shadow: none;
      outline: none;
      border-color: $color;
    }

  }
}