@mixin i() {
  &:before {
    content: "";
    display: inline-block;
    font-size: 10px;
    background-image: url("../images/sprite.svg");
    background-repeat: no-repeat;
    background-size: 2.4em 2.4em;

    .no-svg & {
      background-image: url("../images/sprite.png");
    }
  }
}

[class*='i-'] {
  display: inline-block;

  &:before {
    @include i;
  }
}

@mixin i-ico-phone() {
  &:before {
    background-position: -0.5em -0.5em;
    width: 1.4em;
    height: 1.4em;
  }
}

.i-ico-phone {

  &:before {
    @include i-ico-phone;
  }
}
