
  @font-face {
    font-family: 'Gill Sans';
    src: url('../fonts/GillSans-BoldItalic.eot');
    src: url('../fonts/GillSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GillSans-BoldItalic.woff') format('woff'),
    url('../fonts/GillSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
  }
