@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  body {
    overflow-x: hidden;

  }

  .wrapper{
    display: block;
  }

  .main {
    display: block;
    flex: none;
  }

}