include ../partials/mixins/mixin

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = ''
    - var dir = ''
    - var images = '/images/'

doctype html
html(lang='ru-RU')

    head
        meta(charset='UTF-8')
        meta(name='format-detection', content='telephone=no')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(data-n-head="true" name="theme-color" content="#cb7632")
        title #{pageTitle}
        block styles
        link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700&amp;subset=cyrillic-ext" rel="stylesheet")
        //link(href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700" rel="stylesheet")
        link(rel='stylesheet', href= dir + 'css/styles.min.css')
    body(class=bodyClass)
        .wrapper
            header.header
                .container
                    .header__inner
                        .header__top
                            h1.title.header__title Доставка панелей
                            .header__data.header-data
                                .header-data__item
                                    a(href="#", data-toggle="modal" data-target="#feedback").btn.header__btn Обратный звонок
                                .header-data__item
                                    a(href="tel:88004356214").phone.phone--ico 8 (800) 435-62-14
                            .btn-menu
                                .btn-menu__inner
                                    .btn-menu__item
                                    .btn-menu__item
                                    .btn-menu__item
                        .header__nav.nav
                            ul.nav__list
                                li.nav__item
                                    a(href="#").nav__link  Услуги
                                li.nav__item
                                    a(href="#").nav__link Продукт
                                li.nav__item.nav__item--active
                                    a(href="#").nav__link  Доставка и оплата
                                li.nav__item
                                    a(href="#").nav__link  О компании
                                li.nav__item
                                    a(href="#").nav__link Контакты
            block main
            footer.footer
                .container
                    .footer__inner.row
                        .col-lg-3.col-md-4.col-sm-12
                            .footer__item
                                .footer-content ©, ООО "Delivery", 2010 — 2017 <br>  Эл. почта: <a href="mailto:hello@gmail.com">hello@gmail.com </a>
                        .col-lg-3.col-md-4.col-sm-12
                            .footer__item
                                .footer__content Адрес: Минск, площадь Независимости, 143, оф. 6
                        .col-lg-3.col-md-4.col-sm-12.offset-lg-3
                            .footer__item.footer__item--questions
                                .footer__content Есть вопросы?<br><a href="#"> Напишите нам</a>
        #feedback.modal.fade(tabindex='-1', role='dialog', aria-labelledby='feedback', aria-hidden='true')
            .modal-dialog.modal-dialog-centered(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    .modal-body
                        .modal-body__title Обратный звонок
                        form#feedbackForm.form(method="post")
                            .form__inner
                                .form-group.form__item
                                    input.form-control.form__input(type='text', name="name" placeholder='Имя' required)
                                .form-group.form__item
                                    input.form-control.form__input(type='tel', name="phone" placeholder='Телефон' required)
                                .form__btn-inner
                                    input(type="submit" value="Заказать").btn.form__btn
        script(src="js/vendor/jquery-3.2.1.min.js")
        script(src="js/vendor/popper.js")
        script(src="js/vendor/bootstrap.min.js")
        script(src="js/vendor/bootstrapValidator.js")
        block script
        script(src="js/app.min.js")
