extends ../templates/layout

block vars
    - var bodyClass = ''
    - var footerClass = ''
    - var headerClass = ''
    - var pageTitle = 'Доставка панелей'
    - var dir = ''

block main
    main.main
        .container
            +banner("map.jpg", "EL-Панели и Лампы Т8", "с доставкой по всему миру")
            .news-data
               .row
                   .col-lg-4.col-md-6.col-sm-12
                       .news-item
                           h3.news-item__name.news-item__name--link
                               a(href="#").news-item__link ЕL-Панели
                           .news-item__data
                               .news-item__content.
                                   Она же светопленка, светопанель, светобумага.
                                   Пластичный, тонкий и легкий материал, покрытый люминофором. Отличное решение для привлечения внимания к рекламе своей продукции. Потребляет мизерное количество энергии, устойчива к влаге и вибрации, без ультрафиолетового излучения. Из неё можно вырезать любые фигуры.
                       .news-item
                           h3.news-item__name Светодиодная продукция
                           .news-item__data
                               a(href="#").news-item__subtitle Лампы Т8
                               .news-item__content Экономят до 65% электроэнергии. Долговечнее и экологичнее, чем люминесцентные.
                           .news-item__data
                               a(href="#").news-item__subtitle Светодиодные линейки
                               .news-item__content Простой способ подсветки прилавков, витрин, рекламных вывесок, и освещения помещений.
                   .col-lg-4.col-md-6.col-sm-12
                       .news-item
                           h3.news-item__name Полноцветная печать и постпечатная обработка
                           .news-item__data
                               a(href="#").news-item__subtitle Печать на плоских материалах
                           .news-item__data
                               a(href="#").news-item__subtitle Печать на рулонных материалах
                               .news-item__content На плёнке, бэклите, баннерной ткани, сетке. Печатаем на японских принтерах компании Seiko.
                           .news-item__data
                               a(href="#").news-item__subtitle Фрезерная резка
                               .news-item__content Не оставляет обгорелую кромку, в отличие от лазерной резки. Для твердых рекламных материалов до 10 мм.
                           .news-item__data
                               a(href="#").news-item__subtitle Ламинация пленкой
                               .news-item__content Дополнительная защита печатной продукции от внешних воздействий.
                           .news-item__data
                               a(href="#").news-item__subtitle Плоттерная резка

                   .col-lg-4.col-md-6.col-sm-12
                       .news-item
                           h3.news-item__name Монтаж рекламных материалов
                           .news-item__data
                               a(href="#").news-item__subtitle Монтаж плёнки
                           .news-item__data
                               a(href="#").news-item__subtitle Монтаж баннеров
                           .news-item__data
                               a(href="#").news-item__subtitle Оклейка автомобилей
                           .news-item__data
                               a(href="#").news-item__subtitle Монтаж баннеров на автомобили
            h2.h2-title За нас говорят клиенты
            .row
                .col-lg-6.col-md-6.col-sm-12
                    +blockquote("«Заказывали печать материалов для ребрендинга. Такого превосходного обслуживания я ещё нигде не встречал. Все материалы были напечатаны вовремя и в отличном качестве.»", "Иван Иванов, менеджер компании «Apple»")
                .col-lg-6.col-md-6.col-sm-12
                    +blockquote("«Заказывали печать материалов для ребрендинга. Такого превосходного обслуживания я ещё нигде не встречал. Все материалы были напечатаны вовремя и в отличном качестве.»", "Пётр Петров, менеджер компании «HP»")
block script
    script(type='text/javascript').
        $(document).ready(function () {
            $('#feedbackForm').bootstrapValidator({
                fields: {
                    name: {
                        validators: {
                            notEmpty: {
                                message: 'Введите Имя'
                            }
                        }
                    },
                    phone: {
                        validators: {
                            notEmpty: {
                                message: 'Введите телефон'
                            }
                        }
                    },
                }
            })
        });



