mixin banner(img, title, subtite)
    .banner(style="background-image: url(./images/"+ img +");")
        .banner__inner
            .banner__title= title
            .banner__subtitle= subtite


mixin blockquote(content, author)
    .blockquote
        .blockquote__inner
            .blockquote__content= content
        .blockquote__author= author